Repository Polkadot-Blockchain-Academy/pba-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wirednkod, @drskalman, @jonasW3F, @JoshOrndorff, @fbielejec, @kianenigma, @shawntabrizi, @franciscoaguirre, @Overkillus

Jg/class version notes (#1021)
  syllabus/2-Economics/1-Economics_Basics-slides.md
  syllabus/2-Economics/2-Game_Theory-slides.md
  syllabus/2-Economics/3-Price_Finding_Mechanisms-slides.md
Owners: @jonasW3F

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@de1f08880241b0c801fdc7f129a3d4a1e1225bb7 🚀
  current/syllabus/2-Economics/1-Economics_Basics-slides.html
  current/syllabus/2-Economics/2-Game_Theory-slides.html
  current/syllabus/2-Economics/3-Price_Finding_Mechanisms-slides.html
  current/syllabus/2-Economics/img/2.1-comparative-autarky.png
  current/syllabus/2-Economics/img/2.1-comparative-betteroff.png
  current/syllabus/2-Economics/img/2.1-comparative-trade.png
Owners: @wirednkod

Polkadot Open Source Stack Lecture Slides
  syllabus/7-Polkadot/4-polkadot-opensource-stack-slides.md
Owners: @shawntabrizi, @Overkillus

Split state machine lecture off from intro
  syllabus/3-Blockchain/1-Coordination_And_Centralization-slides.md
  syllabus/3-Blockchain/1-Overview_Goals_History-slides.md
  syllabus/3-Blockchain/2.5-State_Machines-slides.md
  syllabus/3-Blockchain/img/state-machine/altcoins.png
  syllabus/3-Blockchain/img/state-machine/bitcoin-transaction.png
  syllabus/3-Blockchain/img/state-machine/light-switch-history.svg
  syllabus/3-Blockchain/img/state-machine/light-switch-lts.svg
  syllabus/3-Blockchain/img/state-machine/state-machine-arbitrary-history.png
  syllabus/3-Blockchain/img/state-machine/state-machine-cash.svg
  syllabus/3-Blockchain/img/state-machine/state-machine-general.svg
  syllabus/3-Blockchain/img/state-machine/state-machine-social.svg
Owners: @JoshOrndorff

blockchain module: p2p lecture refactoring
  syllabus/3-Blockchain/2-P2P_Networks-slides.md
  syllabus/3-Blockchain/2-P2P_Networks_State_Machines-slides.md
  syllabus/3-Blockchain/img/bittorrent.svg
  syllabus/3-Blockchain/img/client_server_1.svg
  syllabus/3-Blockchain/img/client_server_2.svg
  syllabus/3-Blockchain/img/gnutella.gif
  syllabus/3-Blockchain/img/napster_1.svg
  syllabus/3-Blockchain/img/napster_2.svg
  syllabus/3-Blockchain/img/napster_3.svg
  syllabus/3-Blockchain/img/napster_4.svg
  syllabus/3-Blockchain/img/overlay.svg
  syllabus/3-Blockchain/img/overlay_2.svg
  syllabus/3-Blockchain/img/p2p_topology_2.svg
  syllabus/3-Blockchain/img/underlay.svg
  syllabus/3-Blockchain/img/underlay_2.svg
Owners: @JoshOrndorff

Draft overview
  syllabus/3-Blockchain/1-Coordination_And_Centralization-slides.md
  syllabus/3-Blockchain/img/overview/StorytellingTechnology.png
  syllabus/3-Blockchain/img/overview/campfire1.png
  syllabus/3-Blockchain/img/overview/campfire2.png
  syllabus/3-Blockchain/img/overview/campfire3.png
  syllabus/3-Blockchain/img/overview/campfire4.png
Owners: @JoshOrndorff

Campfire images and moar
  syllabus/3-Blockchain/1-Coordination_And_Centralization-slides.md
Owners: @JoshOrndorff

blockchain module: p2p lecture refactoring (#1023)
  syllabus/3-Blockchain/2-P2P_Networks-slides.md
  syllabus/3-Blockchain/2-P2P_Networks_State_Machines-slides.md
  syllabus/3-Blockchain/img/bittorrent.svg
  syllabus/3-Blockchain/img/client_server_1.svg
  syllabus/3-Blockchain/img/client_server_2.svg
  syllabus/3-Blockchain/img/gnutella.gif
  syllabus/3-Blockchain/img/napster_1.svg
  syllabus/3-Blockchain/img/napster_2.svg
  syllabus/3-Blockchain/img/napster_3.svg
  syllabus/3-Blockchain/img/napster_4.svg
  syllabus/3-Blockchain/img/overlay.svg
  syllabus/3-Blockchain/img/overlay_2.svg
  syllabus/3-Blockchain/img/p2p_topology_2.svg
  syllabus/3-Blockchain/img/underlay.svg
  syllabus/3-Blockchain/img/underlay_2.svg
Owners: @JoshOrndorff

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@4c98e05581ac47b2910dfff4dc8766c85ae8ebda 🚀
  current/assets/index-C_z0s4lC.js
  current/index.html
  current/syllabus/3-Blockchain/2-P2P_Networks-slides.html
  current/syllabus/3-Blockchain/2-P2P_Networks_State_Machines-slides.html
  current/syllabus/3-Blockchain/img/bittorrent.svg
  current/syllabus/3-Blockchain/img/client_server_1.svg
  current/syllabus/3-Blockchain/img/client_server_2.svg
  current/syllabus/3-Blockchain/img/gnutella.gif
  current/syllabus/3-Blockchain/img/napster_1.svg
  current/syllabus/3-Blockchain/img/napster_2.svg
  current/syllabus/3-Blockchain/img/napster_3.svg
  current/syllabus/3-Blockchain/img/napster_4.svg
  current/syllabus/3-Blockchain/img/overlay.svg
  current/syllabus/3-Blockchain/img/overlay_2.svg
  current/syllabus/3-Blockchain/img/p2p_topology_2.svg
  current/syllabus/3-Blockchain/img/underlay.svg
  current/syllabus/3-Blockchain/img/underlay_2.svg
Owners: @wirednkod

linter
  syllabus/2-Economics/1-Economics_Basics-slides.md
  syllabus/2-Economics/2-Game_Theory-slides.md
  syllabus/2-Economics/3-Price_Finding_Mechanisms-slides.md
  syllabus/3-Blockchain/1-Coordination_And_Centralization-slides.md
Owners: @jonasW3F, @JoshOrndorff

Fix linter
  syllabus/2-Economics/1-Economics_Basics-slides.md
  syllabus/2-Economics/2-Game_Theory-slides.md
  syllabus/2-Economics/3-Price_Finding_Mechanisms-slides.md
Owners: @jonasW3F

Fix linter (#1025)
  syllabus/2-Economics/1-Economics_Basics-slides.md
  syllabus/2-Economics/2-Game_Theory-slides.md
  syllabus/2-Economics/3-Price_Finding_Mechanisms-slides.md
Owners: @jonasW3F

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@6d425417cd49459a1c2181904a35862beb8eb8da 🚀
  current/syllabus/2-Economics/1-Economics_Basics-slides.html
  current/syllabus/2-Economics/2-Game_Theory-slides.html
  current/syllabus/2-Economics/3-Price_Finding_Mechanisms-slides.html
Owners: @wirednkod

Blockchain Module: Split state machines off from overview (#1024)
  syllabus/3-Blockchain/1-Coordination_And_Centralization-slides.md
  syllabus/3-Blockchain/1-Overview_Goals_History-slides.md
  syllabus/3-Blockchain/2.5-State_Machines-slides.md
  syllabus/3-Blockchain/img/state-machine/altcoins.png
  syllabus/3-Blockchain/img/state-machine/bitcoin-transaction.png
  syllabus/3-Blockchain/img/state-machine/light-switch-history.svg
  syllabus/3-Blockchain/img/state-machine/light-switch-lts.svg
  syllabus/3-Blockchain/img/state-machine/state-machine-arbitrary-history.png
  syllabus/3-Blockchain/img/state-machine/state-machine-cash.svg
  syllabus/3-Blockchain/img/state-machine/state-machine-general.svg
  syllabus/3-Blockchain/img/state-machine/state-machine-social.svg
Owners: @JoshOrndorff

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@93dbadfa8f46b0b2e0c183904ef46a9a5c89f923 🚀
  current/assets/index-DUZfzxv2.js
  current/index.html
  current/syllabus/3-Blockchain/1-Coordination_And_Centralization-slides.html
  current/syllabus/3-Blockchain/2.5-State_Machines-slides.html
  current/syllabus/3-Blockchain/img/state-machine/altcoins.png
  current/syllabus/3-Blockchain/img/state-machine/bitcoin-transaction.png
  current/syllabus/3-Blockchain/img/state-machine/light-switch-history.svg
  current/syllabus/3-Blockchain/img/state-machine/light-switch-lts.svg
  current/syllabus/3-Blockchain/img/state-machine/state-machine-arbitrary-history.png
  current/syllabus/3-Blockchain/img/state-machine/state-machine-cash.svg
  current/syllabus/3-Blockchain/img/state-machine/state-machine-general.svg
  current/syllabus/3-Blockchain/img/state-machine/state-machine-social.svg
Owners: @wirednkod

right after first lesson delivery
  syllabus/3-Blockchain/1-Coordination_And_Centralization-slides.md
  syllabus/3-Blockchain/img/overview/ChancellorOnBrink.jpeg
Owners: @JoshOrndorff

Fix lesson links from mod3 readme
  syllabus/3-Blockchain/README.md
Owners: @JoshOrndorff

prune two lessons that will not be delivered in Singapore
  syllabus/3-Blockchain/10-Designing_DAG_based_consensus-slides.md
  syllabus/3-Blockchain/14-Sassafras-slides.md
Owners: @JoshOrndorff

fix utxo balance typo
  syllabus/3-Blockchain/img/utxo_state_6.svg
  syllabus/3-Blockchain/img/utxo_state_7.svg
Owners: @JoshOrndorff

Blockchain Module: Cleanup (#1026)
  syllabus/3-Blockchain/10-Designing_DAG_based_consensus-slides.md
  syllabus/3-Blockchain/14-Sassafras-slides.md
  syllabus/3-Blockchain/README.md
Owners: @JoshOrndorff

fix utxo balance typo (#1032)
  syllabus/3-Blockchain/img/utxo_state_6.svg
  syllabus/3-Blockchain/img/utxo_state_7.svg
Owners: @JoshOrndorff

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@0893d8fa0b6563c36535cfc6feb8feaea930e41d 🚀
  current/assets/index-DRe6B4hc.js
  current/assets/index-DUZfzxv2.js
  current/index.html
  current/syllabus/3-Blockchain/10-Designing_DAG_based_consensus-slides.html
  current/syllabus/3-Blockchain/14-Sassafras-slides.html
  current/syllabus/3-Blockchain/img/blockchain_network.png
  current/syllabus/3-Blockchain/img/dag-based/adversarial-control.svg
  current/syllabus/3-Blockchain/img/dag-based/atomic-broadcast.svg
  current/syllabus/3-Blockchain/img/dag-based/building-blocks.svg
  current/syllabus/3-Blockchain/img/dag-based/choosing-head.svg
  current/syllabus/3-Blockchain/img/dag-based/dag.svg
  current/syllabus/3-Blockchain/img/dag-based/heads.svg
  current/syllabus/3-Blockchain/img/dag-based/message-dependency.svg
  current/syllabus/3-Blockchain/img/dag-based/randomness-beacon.svg
  current/syllabus/3-Blockchain/img/dag-based/rbc.svg
  current/syllabus/3-Blockchain/img/dag-based/shamir-2.svg
  current/syllabus/3-Blockchain/img/dag-based/shamir.svg
  current/syllabus/3-Blockchain/img/dag-based/timeline-1.svg
  current/syllabus/3-Blockchain/img/dag-based/timeline-2.svg
  current/syllabus/3-Blockchain/img/dag-based/xoring.svg
  current/syllabus/3-Blockchain/img/party_tickets.png
  current/syllabus/3-Blockchain/img/ticket_submission.png
Owners: @wirednkod

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@5d45df27631e28bc29a852d65e480b1f7e4557c2 🚀
  current/syllabus/3-Blockchain/img/utxo_state_6.svg
  current/syllabus/3-Blockchain/img/utxo_state_7.svg
Owners: @wirednkod

Added a few tools
  syllabus/7-Polkadot/4-polkadot-opensource-stack-slides.md
Owners: @shawntabrizi, @Overkillus

xcm and node template update
  syllabus/7-Polkadot/4-polkadot-opensource-stack-slides.md
Owners: @shawntabrizi, @Overkillus

Pythona and Rust APIs
  syllabus/7-Polkadot/4-polkadot-opensource-stack-slides.md
Owners: @shawntabrizi, @Overkillus

testing tools
  syllabus/7-Polkadot/4-polkadot-opensource-stack-slides.md
Owners: @shawntabrizi, @Overkillus

consensus finality: ratchet concept
  syllabus/3-Blockchain/8-Consensus_Finality-slides.md
  syllabus/3-Blockchain/img/ratchet.jpg
  syllabus/3-Blockchain/img/roller_coaster.jpg
  syllabus/3-Blockchain/img/slackline.jpg
  syllabus/3-Blockchain/img/wheel.jpg
Owners: @JoshOrndorff

consensus finality: ratchet concept (#1034)
  syllabus/3-Blockchain/8-Consensus_Finality-slides.md
  syllabus/3-Blockchain/img/ratchet.jpg
  syllabus/3-Blockchain/img/roller_coaster.jpg
  syllabus/3-Blockchain/img/slackline.jpg
  syllabus/3-Blockchain/img/wheel.jpg
Owners: @JoshOrndorff

Coordination and Centralization: past present future (#1027)
  syllabus/3-Blockchain/1-Coordination_And_Centralization-slides.md
  syllabus/3-Blockchain/img/overview/ChancellorOnBrink.jpeg
  syllabus/3-Blockchain/img/overview/StorytellingTechnology.png
  syllabus/3-Blockchain/img/overview/campfire1.png
  syllabus/3-Blockchain/img/overview/campfire2.png
  syllabus/3-Blockchain/img/overview/campfire3.png
  syllabus/3-Blockchain/img/overview/campfire4.png
Owners: @JoshOrndorff

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@725377d04bfef3edd8a8b900611d3d9784cd8037 🚀
  current/syllabus/3-Blockchain/8-Consensus_Finality-slides.html
  current/syllabus/3-Blockchain/img/ratchet.jpg
  current/syllabus/3-Blockchain/img/roller_coaster.jpg
  current/syllabus/3-Blockchain/img/slackline.jpg
  current/syllabus/3-Blockchain/img/wheel.jpg
Owners: @wirednkod

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@3242a87d2e2cc7caa316d1ea6834b945dfb0992b 🚀
  current/syllabus/3-Blockchain/1-Coordination_And_Centralization-slides.html
  current/syllabus/3-Blockchain/img/overview/ChancellorOnBrink.jpeg
  current/syllabus/3-Blockchain/img/overview/StorytellingTechnology.png
  current/syllabus/3-Blockchain/img/overview/campfire1.png
  current/syllabus/3-Blockchain/img/overview/campfire3.png
  current/syllabus/3-Blockchain/img/overview/campfire4.png
Owners: @wirednkod

Fix a few things
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

rename
  syllabus/6-Polkadot-SDK/Substrate/9-Substrate-FRAME-Tips-Tricks-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

Fix a few images in polkadot-sdk (#1035)
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/9-Substrate-FRAME-Tips-Tricks-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

updates before class
  syllabus/2-Economics/4-Economics_of_Polkadot-slides.md
Owners: @jonasW3F

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@dc265bd02cc3ed8887739a25dc534b79b534be51 🚀
  current/assets/index-D2NXq69m.js
  current/index.html
  current/syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/9-Substrate-FRAME-Tips-Tricks-slides.html
Owners: @wirednkod

updated data
  syllabus/2-Economics/4-Economics_of_Polkadot-slides.md
Owners: @jonasW3F

minor update
  syllabus/2-Economics/4-Economics_of_Polkadot-slides.md
Owners: @jonasW3F

another update
  syllabus/2-Economics/4-Economics_of_Polkadot-slides.md
Owners: @jonasW3F

.github/CODEOWNERS:

* @wirednkod
/syllabus/1-Cryptography/ @drskalman
/syllabus/2-Economics/ @jonasW3F
/syllabus/3-Blockchain/ @JoshOrndorff
/syllabus/5-Smart_contracts/ @fbielejec
/syllabus/6-Polkadot-SDK/ @kianenigma @shawntabrizi @franciscoaguirre
/syllabus/7-Polkadot/ @shawntabrizi @Overkillus
