Repository Polkadot-Blockchain-Academy/pba-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wirednkod, @drskalman, @jonasW3F, @JoshOrndorff, @fbielejec, @kianenigma, @shawntabrizi, @franciscoaguirre, @Overkillus

.github/CODEOWNERS:

* @wirednkod
/syllabus/1-Cryptography/ @drskalman
/syllabus/2-Economics/ @jonasW3F
/syllabus/3-Blockchain/ @JoshOrndorff
/syllabus/5-Smart_contracts/ @fbielejec
/syllabus/6-Polkadot-SDK/ @kianenigma @shawntabrizi @franciscoaguirre
/syllabus/7-Polkadot/ @shawntabrizi @Overkillus

lint
  syllabus/2-Economics/4-Economics_of_Polkadot-slides.md
Owners: @jonasW3F

Jg/update lecture 4 (#1036)
  syllabus/2-Economics/4-Economics_of_Polkadot-slides.md
Owners: @jonasW3F

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@3a80e4c311548e3894a005a4b3f5e34fb92845c2 🚀
  current/syllabus/2-Economics/4-Economics_of_Polkadot-slides.html
Owners: @wirednkod

more updates from kian
  assets/img/5-Substrate/dev-4-1-substrate-meta-version.svg
  assets/styles/PBA-theme.css
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
  syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-Slides.md
  syllabus/6-Polkadot-SDK/Substrate/3-Merklized-Storage-slides.md
  syllabus/6-Polkadot-SDK/Substrate/4-Transaction-Pool-slides.md
  syllabus/6-Polkadot-SDK/img/multi-threaded.svg
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre

Kian Substrate lectures (#1037)
  assets/img/5-Substrate/dev-4-1-substrate-meta-version.svg
  assets/styles/PBA-theme.css
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
  syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-Slides.md
  syllabus/6-Polkadot-SDK/Substrate/3-Merklized-Storage-slides.md
  syllabus/6-Polkadot-SDK/Substrate/4-Transaction-Pool-slides.md
  syllabus/6-Polkadot-SDK/img/multi-threaded.svg
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@16cd7dd9be696b87396049721229089e1b8c4ec6 🚀
  current/assets/img/5-Substrate/dev-4-1-substrate-meta-version.svg
  current/assets/styles/PBA-theme.css
  current/syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-Slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/3-Merklized-Storage-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/4-Transaction-Pool-slides.html
  current/syllabus/6-Polkadot-SDK/img/multi-threaded.svg
Owners: @wirednkod

final touches
  assets/img/5-Substrate/endian-egg.png
  assets/img/5-Substrate/endian.png
  assets/img/5-Substrate/lib-bincode.png
  assets/img/5-Substrate/lib-scale.png
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
  syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-Slides.md
  syllabus/6-Polkadot-SDK/Substrate/9-SCALE-slides.md
  syllabus/6-Polkadot-SDK/Substrate/9-Substrate-Interactions-slides.md
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre

add meme
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
  syllabus/6-Polkadot-SDK/Substrate/img/centuries.png
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

lint
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
  syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-Slides.md
  syllabus/6-Polkadot-SDK/Substrate/9-SCALE-slides.md
  syllabus/6-Polkadot-SDK/Substrate/9-Substrate-Interactions-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

Kian singapore Day 0 (#1038)
  assets/img/5-Substrate/endian-egg.png
  assets/img/5-Substrate/endian.png
  assets/img/5-Substrate/lib-bincode.png
  assets/img/5-Substrate/lib-scale.png
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
  syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-Slides.md
  syllabus/6-Polkadot-SDK/Substrate/9-SCALE-slides.md
  syllabus/6-Polkadot-SDK/Substrate/9-Substrate-Interactions-slides.md
  syllabus/6-Polkadot-SDK/Substrate/img/centuries.png
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@97eb0d1911ab456a41b786d1473a5511a94a8518 🚀
  current/assets/img/5-Substrate/endian-egg.png
  current/assets/img/5-Substrate/endian.png
  current/assets/img/5-Substrate/lib-bincode.png
  current/assets/img/5-Substrate/lib-scale.png
  current/syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-Slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/9-SCALE-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/9-Substrate-Interactions-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/img/centuries.png
Owners: @wirednkod

day 0 kian
  assets/img/5-Substrate/dev-4-1-substrate-meta-substrate.svg
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
  syllabus/6-Polkadot-SDK/img/rust-meme.png
  syllabus/6-Polkadot-SDK/img/single-threaded-eth.svg
  syllabus/6-Polkadot-SDK/img/substrate-frame-cumulus.svg
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre

lint
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

Kian Singapore Day 0 (#1039)
  assets/img/5-Substrate/dev-4-1-substrate-meta-substrate.svg
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
  syllabus/6-Polkadot-SDK/img/rust-meme.png
  syllabus/6-Polkadot-SDK/img/single-threaded-eth.svg
  syllabus/6-Polkadot-SDK/img/substrate-frame-cumulus.svg
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@727034b61ea53a789f3977b49664c5feab672d5e 🚀
  current/assets/img/5-Substrate/dev-4-1-substrate-meta-substrate.svg
  current/syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.html
  current/syllabus/6-Polkadot-SDK/img/rust-meme.png
  current/syllabus/6-Polkadot-SDK/img/single-threaded-eth.svg
  current/syllabus/6-Polkadot-SDK/img/substrate-frame-cumulus.svg
Owners: @wirednkod

Fix syllabus
  src/syllabus.json
Owners: @wirednkod

Fix syllabus (#1040)
  src/syllabus.json
Owners: @wirednkod

tmp
  src/syllabus.json
  syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-Slides.md
  syllabus/7-Polkadot/1-data-availability-and-sharding-slides.md
  syllabus/7-Polkadot/2-cumulus-deep-dive-slides.md
  syllabus/7-Polkadot/3-shallow-dive-asynchronous-backing-slides.md
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre, @Overkillus

Fix syllabus (#1041)
  src/syllabus.json
  syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-Slides.md
  syllabus/7-Polkadot/1-data-availability-and-sharding-slides.md
  syllabus/7-Polkadot/2-cumulus-deep-dive-slides.md
  syllabus/7-Polkadot/3-shallow-dive-asynchronous-backing-slides.md
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre, @Overkillus

try once again
  src/syllabus.json
  syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-slides.md
  syllabus/7-Polkadot/1-Data-Availability-and-Sharding-slides.md
  syllabus/7-Polkadot/2-Cumulus-Deep-Dive-slides.md
  syllabus/7-Polkadot/3-Shallow-Dive-Asynchronous-Backing-slides.md
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre, @Overkillus

Fix syllabus (#1042)
  src/syllabus.json
  syllabus/6-Polkadot-SDK/Substrate/2-Wasm-Meta-Protocol-slides.md
  syllabus/7-Polkadot/1-Data-Availability-and-Sharding-slides.md
  syllabus/7-Polkadot/2-Cumulus-Deep-Dive-slides.md
  syllabus/7-Polkadot/3-Shallow-Dive-Asynchronous-Backing-slides.md
Owners: @wirednkod, @kianenigma, @shawntabrizi, @franciscoaguirre, @Overkillus

updates before thursday
  syllabus/6-Polkadot-SDK/FRAME/1-Intro_to_FRAME/Intro_to_FRAME-slides.md
  syllabus/6-Polkadot-SDK/Polkadot-SDK-slides.md
  syllabus/6-Polkadot-SDK/Substrate/1-Intro-to-Substrate-slides.md
  syllabus/6-Polkadot-SDK/Substrate/4-Transaction-Pool-slides.md
  syllabus/6-Polkadot-SDK/Substrate/9-SCALE-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

yarn run lint:write
  syllabus/6-Polkadot-SDK/FRAME/1-Intro_to_FRAME/Intro_to_FRAME-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

Small updates for Polkadot SDK day 3 (#1043)
  syllabus/6-Polkadot-SDK/FRAME/1-Intro_to_FRAME/Intro_to_FRAME-slides.md
  syllabus/6-Polkadot-SDK/Substrate/4-Transaction-Pool-slides.md
  syllabus/6-Polkadot-SDK/Substrate/9-SCALE-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@5cdfef8e9f76dd04b8e03e41afdb8914b3c1191e 🚀
  current/syllabus/6-Polkadot-SDK/FRAME/1-Intro_to_FRAME/Intro_to_FRAME-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/4-Transaction-Pool-slides.html
  current/syllabus/6-Polkadot-SDK/Substrate/9-SCALE-slides.html
Owners: @wirednkod

add zombienet slides
  syllabus/6-Polkadot-SDK/Zombienet-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

more light client stuff
  syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/Light-clients-and-unstoppable-apps-slides.md
  syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/whatislightclient.png
Owners: @shawntabrizi, @Overkillus

lint
  syllabus/6-Polkadot-SDK/Zombienet-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

add zombienet slides (#1044)
  syllabus/6-Polkadot-SDK/Zombienet-slides.md
Owners: @kianenigma, @shawntabrizi, @franciscoaguirre

unstoppable apps
  syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/Light-clients-and-unstoppable-apps-slides.md
Owners: @shawntabrizi, @Overkillus

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@517acbef105b145736db41def2153652f5c4b6f6 🚀
  current/assets/index-DwDs49qq.js
  current/index.html
  current/syllabus/6-Polkadot-SDK/Zombienet-slides.html
Owners: @wirednkod

lint
  syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/Light-clients-and-unstoppable-apps-slides.md
Owners: @shawntabrizi, @Overkillus

Deploying to gh-pages from @ Polkadot-Blockchain-Academy/pba-content@805dde7b37ee08a0d62c0455542b462cdcb5a31f 🚀
  current/assets/index-CKxhPscq.js
  current/assets/styles/PBA-theme.css
  current/index.html
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/Light-clients-and-unstoppable-apps-slides.html
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/PUBLICLY-ACCESSIBLE-NODE.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/USER-CONTROLLED-NODE.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/apps.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/code.jpg
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/know-who-to-trust.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/learn-student.gif
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/local.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/on-chain-id.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/papi_victor.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/poweredBy.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/reality_bc_today.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/reality_we_want.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/really.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/solution.jpeg
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/web2.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/web3.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/web3_reality.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/wellknown.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/whatislightclient.png
  current/syllabus/7-Polkadot/Light-clients-and-unstoppable-apps/img/words.png
Owners: @wirednkod

schedule reorg
  syllabus/7-Polkadot/10-polkadot-ecosystem-economy-slides.md
  syllabus/7-Polkadot/11-contributing-to-polkadot-slides.md
  syllabus/7-Polkadot/13-NPoS-slides.md
  syllabus/7-Polkadot/16-zombienet-slides.md
  syllabus/7-Polkadot/README.md
Owners: @shawntabrizi, @Overkillus

Execution sharding lecture re-merge
  syllabus/7-Polkadot/10-contributing-to-polkadot-slides.md
  syllabus/7-Polkadot/11-XCMP-slides.md
  syllabus/7-Polkadot/12-NPoS-slides.md
  syllabus/7-Polkadot/13-quiz.md
  syllabus/7-Polkadot/14-light-clients-slides.md
  syllabus/7-Polkadot/3-introduction-to-parachain-consenus-slides.md
  syllabus/7-Polkadot/4-data-preparation-collation-and-backing-slides.md
  syllabus/7-Polkadot/4-execution-sharding-approvals-and-disputes-slides.md
  syllabus/7-Polkadot/5-data-sharding-and-data-availability-slides.md
  syllabus/7-Polkadot/6-cumulus-deep-dive-slides.md
  syllabus/7-Polkadot/7-asynchronous-backing-slides.md
  syllabus/7-Polkadot/8-agile-coretime-slides.md
  syllabus/7-Polkadot/9-polkadot-ecosystem-economy-slides.md
  syllabus/7-Polkadot/README.md
  syllabus/7-Polkadot/assets/execution-sharding/parachain-validation-multiple.svg
  syllabus/7-Polkadot/assets/execution-sharding/parachain-validation.svg
Owners: @shawntabrizi, @Overkillus

readme
  syllabus/7-Polkadot/README.md
Owners: @shawntabrizi, @Overkillus

time
  syllabus/7-Polkadot/4-execution-sharding-approvals-and-disputes-slides.md
Owners: @shawntabrizi, @Overkillus
